<!-- ====== Table Section Start -->
<section class="bg-white dark:bg-dark py-20 lg:py-[120px]">
    <div class="container mx-auto">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full px-4">
                <div class="max-w-full">
                    <div class="mb-5" x-data="{modalOpen: false}">
                        <a
                            @click="modalOpen = true"
                            class="bg-primary border-primary border rounded-md inline-flex items-center justify-center py-3 px-7 text-center text-base font-medium text-white hover:bg-[#1B44C8] hover:border-[#1B44C8] disabled:bg-gray-3 disabled:border-gray-3 disabled:text-dark-5 active:bg-[#1B44C8] active:border-[#1B44C8]"
                        >
                            Create
                        </a>
                        <div
                            x-show="modalOpen"
                            x-transition
                            class="fixed top-0 left-0 flex items-center justify-center w-full h-full min-h-screen px-4 py-5 bg-dark/90 z-50"
                        >
                            <div
                                @click.outside="modalOpen = false"
                                class="w-full max-w-[570px] rounded-[20px] bg-white dark:bg-dark-2 py-12 px-8 text-center md:py-[60px] md:px-[70px] overflow-x-scroll max-h-[100%]"
                                >
                                <h3
                                    class="pb-[18px] text-xl font-semibold text-dark dark:text-white sm:text-2xl"
                                    >
                                    Create Orchid
                                </h3>
                                <span
                                    class="mx-auto mb-6 inline-block h-1 w-[90px] rounded bg-primary"
                                ></span>
                                <form onsubmit="createOrchid(event)">
                                    <div class="mx-4 flex flex-wrap">
                                        <div class="w-full px-4">
                                            <div class="mb-12">
                                                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
                                                        Name
                                                    </label>
                                                    <input type="text" name="name" class="w-full bg-transparent rounded-md border border-stroke dark:border-dark-3 py-[10px] px-5 text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-gray-2 disabled:border-gray-2" required/>
                                            </div>
                                        </div>
                                        <div class="w-full px-4">
                                            <div class="mb-12">
                                                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
                                                        Image
                                                    </label>
                                                    <input type="text" name="image" class="w-full bg-transparent rounded-md border border-stroke dark:border-dark-3 py-[10px] px-5 text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-gray-2 disabled:border-gray-2" required/>
                                            </div>
                                        </div>
                                        <div class="w-full px-4">
                                                        <div class="mb-12">
                                                            <label class="mb-[10px] block text-base font-medium text-dark dark:text-white">
                                                            Price
                                                            </label>
                                                            <div class="flex items-center">
                                                                <span class="h-full rounded-tl-md rounded-bl-md border border-r-0 border-stroke dark:border-dark-3 bg-gray-2 dark:bg-dark-2 py-[10px] px-4 text-base uppercase text-body-color dark:text-dark-6">
                                                                USD
                                                                </span>
                                                                <input type="number" name="price" class="w-full bg-transparent rounded-br-md rounded-tr-md border border-stroke dark:border-dark-3 py-[10px] pr-3 pl-5 text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-gray-2" required />
                                                            </div>
                                                        </div>
                                        </div>
                                        <div class="w-full px-4">
                                            <div class="mb-12">
                                                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
                                                        Original
                                                    </label>
                                                    <input type="text" name="original" class="w-full bg-transparent rounded-md border border-stroke dark:border-dark-3 py-[10px] px-5 text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-gray-2 disabled:border-gray-2" required />
                                            </div>
                                        </div>
                                        <div class="w-full px-4">
                                            <div class="mb-12 ">
                                                    <label for="natural" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
                                                        Natural
                                                        <div class="mt-3 flex items-center cursor-pointer select-none text-dark dark:text-white">
                                                            <div class="relative m-auto">
                                                            <input type="checkbox" name="natural" id="natural" class="sr-only" />
                                                            <div
                                                                class="flex items-center justify-center w-5 h-5 border border-stroke dark:border-dark-3 rounded box">
                                                                <span class="opacity-0">
                                                                    <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg">
                                                                        <path
                                                                            d="M10.0915 0.951972L10.0867 0.946075L10.0813 0.940568C9.90076 0.753564 9.61034 0.753146 9.42927 0.939309L4.16201 6.22962L1.58507 3.63469C1.40401 3.44841 1.11351 3.44879 0.932892 3.63584C0.755703 3.81933 0.755703 4.10875 0.932892 4.29224L0.932878 4.29225L0.934851 4.29424L3.58046 6.95832C3.73676 7.11955 3.94983 7.2 4.1473 7.2C4.36196 7.2 4.55963 7.11773 4.71406 6.9584L10.0468 1.60234C10.2436 1.4199 10.2421 1.1339 10.0915 0.951972ZM4.2327 6.30081L4.2317 6.2998C4.23206 6.30015 4.23237 6.30049 4.23269 6.30082L4.2327 6.30081Z"
                                                                            fill="#3056D3" stroke="#3056D3" stroke-width="0.4" />
                                                                    </svg>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </label>
                                            </div>
                                        </div>
                                        <div class="w-full px-4">
                                            <div class="mb-12">
                                                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
                                                        Color
                                                    </label>
                                                    <input type="text" name="color" class="w-full bg-transparent rounded-md border border-stroke dark:border-dark-3 py-[10px] px-5 text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-gray-2 disabled:border-gray-2" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap -mx-3">
                                        <div class="w-1/2 px-3">
                                        <button
                                            @click="modalOpen = false"
                                            class="block w-full p-3 text-base font-medium text-center transition border rounded-md border-stroke text-dark dark:text-white hover:border-red-600 hover:bg-red-600 hover:text-white"
                                        >
                                            Cancel
                                        </button>
                                        </div>
                                        <div class="w-1/2 px-3">
                                        <button
                                            type="submit"
                                            class="block w-full p-3 text-base font-medium text-center text-white transition border rounded-md border-primary bg-primary hover:bg-blue-dark"
                                        >
                                            Create
                                        </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table class="w-full table-auto">
                        <thead>
                            <tr class="text-center bg-primary">
                                <th
                                    class="w-1/6 min-w-[160px] border-r border-transparent py-4 px-3 text-lg font-medium text-white lg:py-7 lg:px-4">
                                    No.
                                </th>
                                <th
                                    class="w-1/6 min-w-[160px] border-l border-transparent py-4 px-3 text-lg font-medium text-white lg:py-7 lg:px-4">
                                    Name
                                </th>
                                <th
                                    class="w-1/6 min-w-[160px] py-4 px-3 text-lg font-medium text-white lg:py-7 lg:px-4">
                                    Price
                                </th>
                                <th
                                    class="w-1/6 min-w-[160px] py-4 px-3 text-lg font-medium text-white lg:py-7 lg:px-4">
                                    Original
                                </th>
                                <th
                                    class="w-1/6 min-w-[160px] py-4 px-3 text-lg font-medium text-white lg:py-7 lg:px-4">
                                    Natural
                                </th>
                                <th
                                    class="w-1/6 min-w-[160px] border-r border-transparent py-4 px-3 text-lg font-medium text-white lg:py-7 lg:px-4">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orchids}}
                            <tr>
                                <td
                                    class="text-dark border-b border-l border-[#E8E8E8] bg-[#F3F6FF] dark:bg-dark-3 dark:border-dark dark:text-dark-7 py-5 px-2 text-center text-base font-medium">
                                    {{no}}
                                </td>
                                <td
                                    class="text-dark border-b border-[#E8E8E8] bg-white dark:border-dark dark:bg-dark-2 dark:text-dark-7 py-5 px-2 text-center text-base font-medium">
                                    {{name}}
                                </td>
                                <td
                                    class="text-dark border-b border-[#E8E8E8] bg-[#F3F6FF] dark:bg-dark-3 dark:border-dark dark:text-dark-7 py-5 px-2 text-center text-base font-medium">
                                    ${{price}}
                                </td>
                                <td
                                    class="text-dark border-b border-[#E8E8E8] bg-white dark:border-dark dark:bg-dark-2 dark:text-dark-7 py-5 px-2 text-center text-base font-medium">
                                    {{original}}
                                </td>
                                <td
                                    class="text-dark border-b border-[#E8E8E8] bg-[#F3F6FF] dark:bg-dark-3 dark:border-dark dark:text-dark-7 py-5 px-2 text-center text-base font-medium">
                                    <label for="checkboxLabelTwo"
                                        class="flex items-center cursor-pointer select-none text-dark dark:text-white">
                                        <div class="relative m-auto">
                                            <input type="checkbox" id="checkboxLabelTwo" class="sr-only" disabled 
                                            {{#if isNatural}}checked{{/if}}/>
                                            <div
                                                class="flex items-center justify-center w-5 h-5 border border-stroke dark:border-dark-3 rounded box">
                                                <span class="opacity-0">
                                                    <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M10.0915 0.951972L10.0867 0.946075L10.0813 0.940568C9.90076 0.753564 9.61034 0.753146 9.42927 0.939309L4.16201 6.22962L1.58507 3.63469C1.40401 3.44841 1.11351 3.44879 0.932892 3.63584C0.755703 3.81933 0.755703 4.10875 0.932892 4.29224L0.932878 4.29225L0.934851 4.29424L3.58046 6.95832C3.73676 7.11955 3.94983 7.2 4.1473 7.2C4.36196 7.2 4.55963 7.11773 4.71406 6.9584L10.0468 1.60234C10.2436 1.4199 10.2421 1.1339 10.0915 0.951972ZM4.2327 6.30081L4.2317 6.2998C4.23206 6.30015 4.23237 6.30049 4.23269 6.30082L4.2327 6.30081Z"
                                                            fill="#3056D3" stroke="#3056D3" stroke-width="0.4" />
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                    </label>
                                </td>
                                <td
                                    class="text-dark border-b border-r border-[#E8E8E8] bg-white dark:border-dark dark:bg-dark-2 dark:text-dark-7 py-5 px-2 text-center text-base font-medium">
                                    <div class="text-center">
                                        <div
                                            x-data="
                                            {
                                            dropdownOpen: false
                                            }
                                            "
                                            @click.outside="dropdownOpen = false"
                                            class="relative inline-block text-left"
                                            >
                                                <button
                                                    @click="dropdownOpen = !dropdownOpen"
                                                    class="bg-primary flex items-center rounded-[5px] px-5 py-[13px] text-base font-medium text-white"
                                                    >
                                                    Action
                                                    <span class="pl-4">
                                                        <svg 
                                                        width="20" 
                                                        height="20" 
                                                        viewBox="0 0 20 20" 
                                                        fill="none" 
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        class="fill-current"
                                                        >
                                                        <path 
                                                            d="M10 14.25C9.8125 14.25 9.65625 14.1875 9.5 14.0625L2.3125 7C2.03125 6.71875 2.03125 6.28125 2.3125 6C2.59375 5.71875 3.03125 5.71875 3.3125 6L10 12.5312L16.6875 5.9375C16.9688 5.65625 17.4063 5.65625 17.6875 5.9375C17.9687 6.21875 17.9687 6.65625 17.6875 6.9375L10.5 14C10.3437 14.1563 10.1875 14.25 10 14.25Z" 
                                                            />
                                                        </svg>
                                                    </span>
                                                </button>
                                                <div
                                                    :class="dropdownOpen ? 'top-full opacity-100 visible' : 'top-[110%] invisible opacity-0' "
                                                    class="shadow-1 dark:shadow-box-dark absolute left-0 z-40 mt-2 w-full rounded-md bg-white dark:bg-dark-2 py-[10px] transition-all"
                                                    >
                                                    <a
                                                        href="/orchids/{{slug}}"
                                                        class="text-body-color dark:text-dark-6 hover:bg-[#F5F7FD] dark:hover:bg-primary/5 hover:text-primary block px-5 py-2 text-base"
                                                    >
                                                        Detail
                                                    </a>
                                                    <div x-data="{modalOpen: false}">
                                                        <a
                                                            @click="modalOpen = true"
                                                            class="text-body-color dark:text-dark-6 hover:bg-[#F5F7FD] dark:hover:bg-primary/5 hover:text-primary block px-5 py-2 text-base"
                                                        >
                                                            Edit
                                                        </a>
                                                        <div
                                                            x-show="modalOpen"
                                                            x-transition
                                                            class="fixed top-0 left-0 flex items-center justify-center w-full h-full min-h-screen px-4 py-5 bg-dark/90"
                                                            >
                                                            <div
                                                                @click.outside="modalOpen = false"
                                                                class="w-full max-w-[570px] rounded-[20px] bg-white dark:bg-dark-2 py-12 px-8 text-center md:py-[60px] md:px-[70px] overflow-x-scroll max-h-[100%]"
                                                                >
                                                                <h3
                                                                    class="pb-[18px] text-xl font-semibold text-dark dark:text-white sm:text-2xl"
                                                                    >
                                                                    Edit Orchid
                                                                </h3>
                                                                <span
                                                                    class="mx-auto mb-6 inline-block h-1 w-[90px] rounded bg-primary"
                                                                ></span>
                                                                <form onsubmit="updateOrchid(event)">
                                                                    <div class="mx-4 flex flex-wrap">
                                                                        <input class="hidden" name="slug" value={{slug}}/>
                                                                        <div class="w-full px-4">
                                                                            <div class="mb-12">
                                                                                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
                                                                                        Name
                                                                                    </label>
                                                                                    <input type="text" name="name" class="w-full bg-transparent rounded-md border border-stroke dark:border-dark-3 py-[10px] px-5 text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-gray-2 disabled:border-gray-2"
                                                                                    value="{{name}}" required/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="w-full px-4">
                                                                            <div class="mb-12">
                                                                                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
                                                                                        Image
                                                                                    </label>
                                                                                    <input type="text" name="image" class="w-full bg-transparent rounded-md border border-stroke dark:border-dark-3 py-[10px] px-5 text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-gray-2 disabled:border-gray-2"
                                                                                    value="{{image}}" required/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="w-full px-4">
                                                                                        <div class="mb-12">
                                                                                            <label class="mb-[10px] block text-base font-medium text-dark dark:text-white">
                                                                                            Price
                                                                                            </label>
                                                                                            <div class="flex items-center">
                                                                                                <span class="h-full rounded-tl-md rounded-bl-md border border-r-0 border-stroke dark:border-dark-3 bg-gray-2 dark:bg-dark-2 py-[10px] px-4 text-base uppercase text-body-color dark:text-dark-6">
                                                                                                USD
                                                                                                </span>
                                                                                                <input type="number" name="price" class="w-full bg-transparent rounded-br-md rounded-tr-md border border-stroke dark:border-dark-3 py-[10px] pr-3 pl-5 text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-gray-2" required value="{{price}}" />
                                                                                            </div>
                                                                                        </div>
                                                                        </div>
                                                                        <div class="w-full px-4">
                                                                            <div class="mb-12">
                                                                                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
                                                                                        Original
                                                                                    </label>
                                                                                    <input type="text" name="original" class="w-full bg-transparent rounded-md border border-stroke dark:border-dark-3 py-[10px] px-5 text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-gray-2 disabled:border-gray-2"
                                                                                    value="{{original}}" required/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="w-full px-4">
                                                                            <div class="mb-12 ">
                                                                                    <label for="natural" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
                                                                                        Natural
                                                                                        <div class="mt-3 flex items-center cursor-pointer select-none text-dark dark:text-white">
                                                                                            <div class="relative m-auto">
                                                                                            <input type="checkbox" name="natural" id="natural" class="sr-only" {{#if isNatural}}checked{{/if}}/>
                                                                                            <div
                                                                                                class="flex items-center justify-center w-5 h-5 border border-stroke dark:border-dark-3 rounded box">
                                                                                                <span class="opacity-0">
                                                                                                    <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                                                                                        xmlns="http://www.w3.org/2000/svg">
                                                                                                        <path
                                                                                                            d="M10.0915 0.951972L10.0867 0.946075L10.0813 0.940568C9.90076 0.753564 9.61034 0.753146 9.42927 0.939309L4.16201 6.22962L1.58507 3.63469C1.40401 3.44841 1.11351 3.44879 0.932892 3.63584C0.755703 3.81933 0.755703 4.10875 0.932892 4.29224L0.932878 4.29225L0.934851 4.29424L3.58046 6.95832C3.73676 7.11955 3.94983 7.2 4.1473 7.2C4.36196 7.2 4.55963 7.11773 4.71406 6.9584L10.0468 1.60234C10.2436 1.4199 10.2421 1.1339 10.0915 0.951972ZM4.2327 6.30081L4.2317 6.2998C4.23206 6.30015 4.23237 6.30049 4.23269 6.30082L4.2327 6.30081Z"
                                                                                                            fill="#3056D3" stroke="#3056D3" stroke-width="0.4" />
                                                                                                    </svg>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        </div>
                                                                                    </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="w-full px-4">
                                                                            <div class="mb-12">
                                                                                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
                                                                                        Color
                                                                                    </label>
                                                                                    <input type="text" name="color" class="w-full bg-transparent rounded-md border border-stroke dark:border-dark-3 py-[10px] px-5 text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-gray-2 disabled:border-gray-2"
                                                                                    value="{{color}}" required/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex flex-wrap -mx-3">
                                                                        <div class="w-1/2 px-3">
                                                                        <button
                                                                            @click="modalOpen = false"
                                                                            class="block w-full p-3 text-base font-medium text-center transition border rounded-md border-stroke text-dark dark:text-white hover:border-red-600 hover:bg-red-600 hover:text-white"
                                                                            >
                                                                        Cancel
                                                                        </button>
                                                                        </div>
                                                                        <div class="w-1/2 px-3">
                                                                        <button
                                                                        type="submit"
                                                                            class="block w-full p-3 text-base font-medium text-center text-white transition border rounded-md border-primary bg-primary hover:bg-blue-dark"
                                                                            >
                                                                        Save
                                                                        </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div x-data="{modalOpen: false}">
                                                        <a
                                                            @click="modalOpen = true"
                                                            class="text-body-color dark:text-dark-6 hover:bg-[#F5F7FD] dark:hover:bg-primary/5 hover:text-primary block px-5 py-2 text-base"
                                                        >
                                                            Delete
                                                        </a>
                                                        <div
                                                            x-show="modalOpen"
                                                            x-transition
                                                            class="fixed top-0 left-0 flex items-center justify-center w-full h-full min-h-screen px-4 py-5 bg-dark/90"
                                                            >
                                                            <div
                                                                @click.outside="modalOpen = false"
                                                                class="w-full max-w-[570px] rounded-[20px] bg-white dark:bg-dark-2 py-12 px-8 text-center md:py-[60px] md:px-[70px]"
                                                                >
                                                                <h3
                                                                    class="pb-[18px] text-xl font-semibold text-dark dark:text-white sm:text-2xl"
                                                                    >
                                                                    Are you sure to delete this orchid?
                                                                </h3>
                                                                <span
                                                                    class="mx-auto mb-6 inline-block h-1 w-[90px] rounded bg-primary"
                                                                    ></span>
                                                                <div class="flex flex-wrap -mx-3">
                                                                    <div class="w-1/2 px-3">
                                                                    <button
                                                                        @click="modalOpen = false"
                                                                        class="block w-full p-3 text-base font-medium text-center text-white transition border rounded-md border-primary bg-primary hover:bg-blue-dark"
                                                                    >
                                                                        Cancel
                                                                    </button>
                                                                    </div>
                                                                    <div class="w-1/2 px-3">
                                                                        <button
                                                                            onclick="deleteOrchid('{{slug}}')"
                                                                            class="block w-full p-3 text-base font-medium text-center transition border rounded-md border-stroke text-dark dark:text-white hover:border-red-600 hover:bg-red-600 hover:text-white"
                                                                        >
                                                                            Delele
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Table Section End -->
