<section class='bg-white pt-30 lg:pt-[120px]'>
    <div class='max-w-6xl mx-auto px-4 sm:px-6 lg:px-8'>
        <div class='flex flex-col md:flex-row -mx-4'>
            <div class='md:flex-1 px-4'>
                <div class='h-[460px] rounded-lg bg-gray-300 mb-4'>
                    <img class='w-full h-full object-cover' src={{image}} alt='Product Image' />
                </div>
            </div>
            <div class='md:flex-1 px-4'>
                <h2 class='text-2xl font-bold text-gray-800 mb-2'>{{name}}</h2>
                {{!-- <p class='text-gray-600 text-sm mb-4'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed ante justo. Integer euismod libero
                    id mauris
                    malesuada tincidunt.
                </p> --}}
                <div class='flex mb-4'>
                    <div class='mr-4'>
                        <span class='font-bold text-gray-700'>Price:</span>
                        <span class='text-gray-600'>${{price}}</span>
                    </div>
                    <div class='mr-4'>
                        <span class='font-bold text-gray-700'>Original:</span>
                        <span class='text-gray-600'>{{original}}</span>
                    </div>
                    <div>
                        <span class='font-bold text-gray-700'>Is natural?</span>
                        <span class='text-gray-600'>{{#if isNatural}}Yes{{else}}No{{/if}}</span>
                    </div>
                </div>
                <div class='mb-4'>
                    <div>
                        <span class='font-bold text-gray-700'>Color:</span>
                        <span class='text-gray-600'>{{color}}</span>
                    </div>
                </div>
                <div>
                    <span class='font-bold text-gray-700'>Product Description:</span>
                    <p class='text-gray-600 text-sm mt-2'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed ante justo. Integer euismod
                        libero id
                        mauris malesuada tincidunt. Vivamus commodo nulla ut lorem rhoncus aliquet. Duis dapibus augue
                        vel ipsum
                        pretium, et venenatis sem blandit. Quisque ut erat vitae nisi ultrices placerat non eget velit.
                        Integer
                        ornare mi sed ipsum lacinia, non sagittis mauris blandit. Morbi fermentum libero vel nisl
                        suscipit, nec
                        tincidunt mi consectetur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>